[tool.poetry]
name = "nonebot-plugin-nailongremove"
version = "1.1.6"
description = "一个基于图像分类模型的撤回图片插件"
authors = ["445 <2877834692@qq.com>"]
readme = "README.md"
homepage = "https://github.com/Refound-445/onoebot-plugin-nailongremove"
repository = "https://github.com/Refound-445/onoebot-plugin-nailongremove"
keywords = ["nonebot", "plugin", "image"]
include=['nonebot_plugin_nailongremove/Nailong(0.7123).pth']

[tool.poetry.dependencies]
python = "^3.9"
nonebot2 = "^2.2.0"
nonebot-adapter-onebot = "^2.0.0"
opencv-python = "^4.5"
numpy = "^1.19"
keras = "^2.4"
nonebot-plugin-apscheduler = "^0.4.0"
pillow="^10"
torch="^2.4"
torchvision="^0.19"
httpx = ">=0.27.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[[tool.poetry.source]]
name = "mirrors"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
